.obj {
    display: grid;
    grid-auto-columns: 1fr;
    width: 540px;
    background-color: #f6e1c3;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.grid-items {
    grid-row: 1;
}

.grid-item {
    display: flex;
}

.content {
    display: grid;
    margin: 15px;
    grid-template-columns: [leftpanelstart] 5fr [line1] 2fr [line2] 8fr [rightpanelend];
    min-height: 0;
    min-width: 0;
    flex-grow: 1;
}

.content-grid {
    grid-row: 1;
}

.topGridItem {
    display: flex;
    padding-bottom: 2rem;
}

.imgGrid {
    position: relative;
}

.imgTopGrid {
    position: relative;
    bottom: -20px;
    left: -8px;
}

.fuelImage {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 180px;
    width: 80px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.square {
    height: 50px;
    width: 20px;
    background-color: #555;
    border: black;
}

.cube {
    position: absolute;
    width: 25px;
    transform-style: preserve-3d;
    /* add this line */
}

.side {
    height: 385px;
    line-height: 95px;
    position: absolute;
    text-align: center;
    width: 25px;
    /* add this line */
}

.left {
    background: #2db34a;
    border: solid 1px black;
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}

.right {
    border: solid 1px black;
    background: #26973e;
    transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}

.bottom {
    background: #33cc54;
    border: solid 1px black;
    position: absolute;
    height: 25px;
    transform: rotate(-45deg) skew(15deg, 15deg);
}

.threeImages {
    display: flex;
    justify-content: space-evenly;
}

.threeImagesItem {
    padding-right: 100px;
}

.green {
    background-color: green;
}

.lowerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fuelImages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center {
    background-color: #F6E7CD;
}

/* Nathan's CSS */

html {
    background: #FFFFFF;
}

body {
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 1366px;
    height: 728px;
    background-color: #ECFFDC;
    margin: 0px;
    overflow: hidden;
}

/* Header Section*/

h1 {
    margin: 0px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selectors-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px 0px 15px;
}

label {
    font-weight: bold;
}

.selector-row {
    display: inline-flex;
}

button { 
    width: 120px;
}

.right-obj-panel{
    justify-content: right;
}

/* Body Section */

h3 {
    margin: 0px;
    text-align: center;
}

#objectives-table {
    border: 2px solid black;
    font-size: small;
    border-spacing: 0px;
}

#objectives-table td{
    padding: 5px 3px;
    font-weight: bold;
}

#objectives-table td:nth-child(odd){
    min-width: 120px;
    text-align: left;
}

#objectives-table td:nth-child(-n + 1){
    min-width: 100px;
}

#objectives-table td:nth-child(even){
    min-width: 40px;
}

#objectives-grid-panel{
    align-self: center;
}

#objectives-table th {
    font-size: 16px;
    font-weight: bold;
    text-align: center; 
    border-bottom: 2px solid black;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.grid-panel {
    overflow: hidden;
}

#left-grid-panel {
    grid-column: leftpanelstart;
    display: grid;
    grid-template-rows: [line0] 7fr [line2] 3fr [line3];
}

#plan-table {
    border: 3px solid black;
    width: 100%;
    border-spacing: 0px;
    font-weight: bold;
    table-layout: fixed;
    min-height: max-content;
}

#plan-grid-panel{
    align-self: end;
}

#plan-table td{
    padding: 0px;
}

.plan-subtable{
    font-size: 12px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
}

.plan-subtable th{
    border-bottom: 2px solid black;
    padding: 3px 0px;
}

.plan-subtable td{
    text-align: left;
    padding: 2px 2px !important;
}

.plan-subtable tbody{
    border-bottom: 2px solid black;
}

#efficiency-table tbody{
    border-bottom: 0;
}

/*Visualizer*/

#visualizer {
    border: 1px solid black;
    margin: 20px;
}

#graphCanvas {
    border: 1px dashed red;
}